<header id="header">
    <div id="logo-container">
        <a href="#main"><div id="logo"><img src="../assets/logo.png"/></div></a>
        <a href="#main">VK Profile</a>
    </div>
    <div id="navbar">
        <button id="menu-btn" (click)='onMenuClick()'><i class="fa-solid fa-bars"></i></button>
        <ul>
            <li><a href="#skills-container">Skills</a></li>
            <li><a href="#experience-container">Experience</a></li>
            <li><a href="#projects-container">Projects</a></li>
            <li><a href="#education-container">Education</a></li>
            <li><a href="#certificates-container">Certifications</a></li>
        </ul>
    </div>
    <a href="assets/Vijay_Kumar_CV.pdf" target="_blank" id="cv-link">Download CV</a>
</header>
<nav id="menu" [class.menu-open]='isOpen'>
    <ul>
        <li><a href="#skills-container">Skills</a></li>
        <li><a href="#experience-container">Experience</a></li>
        <li><a href="#projects-container">Projects</a></li>
        <li><a href="#education-container">Education</a></li>
        <li><a href="#certificates-container">Certifications</a></li>
        <li><a href="assets/Vijay_Kumar_CV.pdf" target="_blank">Download CV</a></li>
    </ul>
</nav>