<footer>
    <div class="framework">
        <p>
            <span class="framework-label">Built with</span>
            <a href="https://angular.dev" target="_blank" rel="noopener noreferrer">Angular</a>
        </p>
    </div>
    <div class="links">
        <ul>
            <li><a href="https://www.linkedin.com/in/vijay-kumar3" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://github.com/vkumar-2" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a></li>
            <li class="separator"></li>
            <li><a href="assets/Vijay_Kumar_CV.pdf" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-file"></i></a></li>
            <li><a href="#main"><i class="fa-solid fa-arrow-up"></i></a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>&copy; VK Profile 2025 - <span id="copyright-yr">{{year}}</span></p>
    </div>
</footer>