<section id="intro-container">
    <div id="intro-subcontainer" class="auto-width card p">
        <div id="img-box">
            <div class="img-container">
                <img src="../assets/avatar.jpg" alt="Avatar"/>
            </div>
        </div>
        <div id="description-box">
            <p>Hello, I'm...</p>
            <h1 class="title">Vijay Kumar</h1>
            <h2>Frontend Developer • UI/UX Designer • JavaScript & CSS Specialist</h2>
            <p id="statement">
                Independent / self-taught frontend developer based in London, UK. Focused on building responsive, user-focused
                web interfaces using a range of frameworks and modern CSS. I enjoy turning ideas into beautiful,
                accessible UI components that enhance user experiences.
            </p>
            <ul>
                <li><a href="https://www.linkedin.com/in/vijay-kumar3" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://github.com/vkumar-2" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
    </div>
</section>