<section id="skills-container">
    <div id="skills-card" class="card">
        <h2 class="heading">Skill Set</h2>
        <h3>Languages</h3>
        <section class="grid-container">
            <section class="skill-grid">
                <!-- loop through languages array -->
                <div class="skill-item" *ngFor="let language of languages">
                    <img [src]="language.url" [alt]="language.label"/>
                    <p class="skill-label">{{language.label}}</p>
                </div>
            </section>
        </section>
        <h3>Frameworks & Libraries</h3>
        <section class="grid-container">
            <section class="skill-grid">
                <!-- loop through frameworks array -->
                 <div class="skill-item" *ngFor="let framework of frameworks">
                    <img [src]="framework.url" [alt]="framework.label"/>
                    <p class="skill-label">{{framework.label}}</p>
                 </div>
            </section>
        </section>
        <h3>Developer Tools</h3>
        <section class="grid-container">
            <section class="skill-grid">
                <!-- loop through tools array -->
                 <div class="skill-item" *ngFor="let tool of tools">
                    <img [src]="tool.url" [alt]="tool.label"/>
                    <p class="skill-label">{{tool.label}}</p>
                 </div>
            </section>
        </section>
        <h3>Platforms</h3>
        <section class="grid-container">
            <section class="skill-grid">
                <!-- loop through platforms array -->
                 <div class="skill-item" *ngFor="let platform of platforms">
                    <img [src]="platform.url" [alt]="platform.label"/>
                    <p class="skill-label">{{platform.label}}</p>
                 </div>
            </section>
        </section>
    </div>
</section>