<section id="projects-container">
    <div id="projects-card" class="card p">
        <h2 class="heading">Projects</h2>
        <div class="projects-div">
            <section class="pr-title-container">
                <p class="pr-title"><span class="strong">SecureKey</span> • Password Generator</p>
                <p class="pr-date">April 2026</p>
            </section>
            <section class="pr-list-container m-t">
                <ul>
                    <li>Configurable password generator, supporting 6-100 characters including lowercase, uppercase, numbers and special characters.</li>
                    <li>4+ core UI features, including length adjustment, character-set toggles, and reset options to enhance UX.</li>
                    <li>Used TypeScript to define typed props, React state, and component logic.</li>
                </ul>
            </section>
            <section class="pr-framework-container m-t">
                <div class="framework-tag">React</div>
                <div class="framework-tag">TypeScript</div>
            </section>
        </div>
    </div>
</section>