section#projects-container {
    padding: 0;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
div.projects-div {
    background: linear-gradient(to right,  #ffdac2, #ffe4b1a2);
    border: 1px ridge rgb(65, 65, 65);
    border-radius: 15px;
    padding: 1rem;
    margin: 0;
}
section.pr-title-container {
    display: block; 
    padding-top: 7px;
}
.pr-framework-container {
    display: flex;
    flex-direction: row;

    /* wrap - shift flex items to new line if overflows */
    flex-wrap: wrap; 
    gap: 15px;
}
.pr-list-container ul li, .pr-title, .pr-date {font-size: 18px;}
.pr-list-container ul li {margin: 15px 20px;}
.pr-date {margin-top: 5px; font-weight: bold;}

/* media queries */
@media only screen and (max-width: 600px) /* xs */
{
}
@media only screen and (min-width: 600px) /* sm */
{
}
@media only screen and (min-width: 768px) /* md */
{
}
@media only screen and (min-width: 992px) /* lg */
{
}
@media only screen and (min-width: 1200px) /* xl */
{
    h2 {
        text-align: left;
        margin: 0 0 1rem 2.95rem;
    }
    section.pr-title-container {
        display: flex;
        justify-content: space-between;
    }
    .pr-title, .pr-date {font-size: 20px;}
    .pr-list-container ul li {font-size: 18px}
    .pr-date {margin-top: 0; font-weight: 500;}
}
@media only screen and (min-width: 1500px) /* xxl */
{
}

/* internal classes */
.pr-title {text-shadow: 1px 1px 1px #a2a4ff;}
.pr-date {text-shadow: 1px 1px 1px #d2a2ff;}
.strong {font-weight: bold;}
.m-t {margin-top: 1rem;}
.framework-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 15px;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    background: linear-gradient(15deg, #5c004d 0%, #26006d 100%);
    border: 1px solid rgb(59, 47, 59);
}