<section id="projects-container">
    <div id="projects-card" class="card p">
        <h2 class="heading"><span class="span-icon"><i class="fa-solid fa-city"></i></span> Projects</h2>
        <section>
            <!-- loop through array of projects -->
            <div class="projects-div" *ngFor="let project of projects">
                <section class="pr-title-container">
                    <p class="pr-title">
                        <a [href]='project.url' target='_blank'><i class="fa-solid fa-link"></i> {{project.title}}</a>
                        <span style="color: #adadad"> | </span>{{project.subtitle}}
                    </p>
                    <p class="pr-date">{{project.date}}</p>
                </section>
                <section class="pr-list-container m-t">
                    <ul>
                        <!-- loop through array of projects.descriptions -->
                        <li *ngFor="let description of project.descriptions">
                            {{description}}
                        </li>
                    </ul>
                </section>
                <section class="pr-framework-container m-t">
                    <!-- loop through array of projects.frameworks -->
                    <div class="framework-tag" *ngFor="let frameworks of project.frameworks">
                        {{frameworks}}
                    </div>
                </section>
            </div>
        </section>
    </div>
</section>