<section id="experience-container">
    <div class="card p">
        <h2 class="heading"><span class="span-icon"><i class="fa-solid fa-business-time"></i></span> Experience</h2>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <p class="date">August 2023 - Present</p>
                <h3 class="subheading">Frontend Developer • Volunteer</h3>
                <p class="company">DRUM Studios - Farnham, UK</p>
                <div class="details">
                    <ul>
                        <li *ngFor="let achievement of achievements">
                            {{achievement}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>