<main id="main" class="canvas">
    <div class="space"></div>
    <app-card-intro class="m"></app-card-intro>
    <ng-container *ngIf="!isXL; else xlLayout">
        <div id="components-card">
            <app-card-skills></app-card-skills>
            <app-card-experience></app-card-experience>
            <app-card-projects></app-card-projects>
            <app-card-education></app-card-education>
            <app-card-certifications></app-card-certifications>
        </div>
    </ng-container>
    <ng-template #xlLayout>
        <div id="components-card" class="xl-columns">
            <div class="left-column">
                <app-card-experience></app-card-experience>
                <app-card-projects></app-card-projects>
                <app-card-certifications></app-card-certifications>
            </div>
            <div class="right-column">
                <app-card-skills></app-card-skills>
                <app-card-education></app-card-education>
            </div>
        </div>
    </ng-template>
</main>