.heading {
    color: #9ae1ff;
    text-shadow: 2px 2px 1px #000000;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 0.02em;
}
.subheading {
    color: rgb(255, 123, 47);
    text-shadow: 0 1px 1px rgb(0, 0, 0);
}
.date {
    margin: 0 0 0.45rem 0;
    font-weight: 700;
    color: #54aa86;
    text-shadow: 0 1px 1px rgb(0, 0, 0);
}
.company {
    font-weight: 700;
    color: #ff30ba;
    text-shadow: 0 1px 1px rgb(0, 0, 0);
}